@{

ViewData["Title"] = "Admin Home Page";
Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <!-- Page Title -->
        <h1 class="govuk-heading-xl govuk-!-text-align-center" style="margin-bottom: 20px">Admin Homepage</h1>

        <!-- Welcome Message -->
        <p class="govuk-body govuk-!-text-align-center">
            Welcome back, <strong>@User.Identity.Name</strong>!
        </p>

        <div class="govuk-grid-row govuk-!-margin-top-6">
            <!-- Left Column -->
            <div class="govuk-grid-column-one-third govuk-!-text-align-center">
                <h2 class="govuk-heading-m">Quick Actions</h2>
                <button class="govuk-button govuk-!-width-full" data-module="govuk-button" onclick="location.href='@Url.Action("Create", "Jobs", new { returnUrl = Context.Request.Path })'">
                    Post a Job
                </button>
                <br/><br/>
                <button class="govuk-button govuk-!-width-full" data-module="govuk-button" onclick="location.href='/Jobs/ManageJobs'">
                    Manage Jobs
                </button>
            </div>

            <!-- Middle Column -->
            <div class="govuk-grid-column-one-third govuk-!-text-align-center">
                <h2 class="govuk-heading-m">Applications</h2>
                <button class="govuk-button govuk-!-width-full" data-module="govuk-button" onclick="location.href='/Applications/Index'">
                    View Applications
                </button>
                <br/><br/>
                <button class="govuk-button govuk-!-width-full" data-module="govuk-button" onclick="location.href='/Reports/Index'">
                    Generate Reports
                </button>
            </div>

            <!-- Right Column -->
            <div class="govuk-grid-column-one-third govuk-!-text-align-center">
                <h2 class="govuk-heading-m">Admin Tools</h2>
                <button class="govuk-button govuk-button--secondary govuk-!-width-full" data-module="govuk-button" onclick="location.href='/Admin/Settings'">
                    Admin Settings
                </button>
                <br/><br/>
                <button class="govuk-button govuk-button--secondary govuk-!-width-full" data-module="govuk-button" onclick="location.href='/Profile/Index'">
                    User Profiles
                </button>
                <br/><br/>
                <button class="govuk-button govuk-button--secondary govuk-!-width-full" data-module="govuk-button" onclick="location.href='/Roles/Manage'">
                    Manage Roles
                </button>
            </div>
        </div>
    </main>
</div>
