<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Admin Homepage</title>
</head>

<body>
<div class="govuk-service-navigation"
     data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
                    Menu
                </button>
                <ul class="govuk-service-navigation__list" id="navigation">
                    <li class="govuk-service-navigation__item">
                        @Html.ActionLink("Manage Roles", "ManageRoles", "Home", null, new { @class = "govuk-service-navigation__link" })
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Welcome back Admin!</h1>
                <p class="govuk-body">This is a placeholder for the admin homepage</p>
            </div>
        </div>
    </main>
</div>


</body>
</html>