@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <partial name="_LoginPartial"/>
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="AdminHomepage" class="govuk-button">Admin Homepage</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>