<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Manage Roles</title>
</head>

<body>
    <div class="govuk-service-navigation"
         data-module="govuk-service-navigation">
        <div class="govuk-width-container">
            <div class="govuk-service-navigation__container">
                <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                    <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
                        Menu
                    </button>
                    <ul class="govuk-service-navigation__list" id="navigation">
                        <li class="govuk-service-navigation__item">
                            @Html.ActionLink("Manage Roles", "ManageRoles", "Home", null, new { @class = "govuk-service-navigation__link" })
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="govuk-width-container">
        @Html.ActionLink("Back", "AdminHomepage", "Home", null, new { @class = "govuk-back-link" })
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">Manage Roles</h2>
                </div>
            </div>
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Add Roles
            </button>
        </main>
    </div>
</body>
</html>
